@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/MaterialIcons-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    src: url(../assets/fonts/Manrope-Regular.ttf);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

:root {
    /* CORES */
    --white: #FCFCFC;
    --orange: #F26430;
    --green: #23967F;
    --black: #020100;
    --gray: #9B9B9B;
    --gray-high: #F3F3F3;
    --blue: #3E6990;
    --blue-low: #2E4F6C;
    --blue-high-2: #EDF6FF;
    --blue-high: #8CB0D3;
    --green-low: #197865;
    --green-high-2: #D1FFE4;
    --green-high: #2EBCA0;
    --red: #EA2B2B;
    --red-high: #FFE9E9;
    --yellow: #F0BB00;
    --yellow-low: #d3a500;
    --yellow-high: #ffd53e;
    --gray-2: #B5B5B5;
    --gray-3: #DFDFDF;
    --green-2: #12E41A;
    --red-low: #CE2323;
    --red-high-2: #F1ABAB;
    --purple: #8D23CE;

    /* BORDER RADIUS */
    --radius-sm: 8px;
    --radius-md: 14px;
    --radius-lg: 18px;
    --radius-full: 50%;

    /* SPACING */
    --space-1: 1px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 12px;
    --space-5: 16px;
    --space-6: 20px;
    --space-7: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-20: 80px;

    /* FONTSIZE */
    --fontsize-xl: 46px;
    --fontsize-lg: 34px;
    --fontsize-md: 24px;
    --fontsize-sm: 16px;
    --fontsize-xs: 12px;

    /* BOX SHADOW */
    --boxshadow-default: 0 0 15px rgba(0, 0, 0, 0.2);

    /* BREAKPOINTS */
    --small-device: 960px;
    --tablet: 768px;
    --mobile: 480px;

    /* OVERLAY */
    --overlay: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    font-family: Manrope;
}

h1, h2, h3, p, a {
    color: var(--black);
    font-weight: 500;
}

h1 {
    font-size: var(--fontsize-lg);
}

h2 {
    font-size: var(--fontsize-md);
}

h3 {
    font-size: var(--fontsize-sm);
}

p {
    font-size: var(--fontsize-xs);
}

.page-title {
    margin-bottom: var(--space-6);
}

.response.big {
    font-size: var(--fontsize-sm);
    margin-top: var(--space-5);
}

.error {
    color: var(--red);
}

.success {
    color: var(--green-2);
}

.font-bold {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-low);
}

a, a:hover {
    text-decoration: none;
    color: var(--black);
}

.btn {
    padding: var(--space-4) var(--space-5);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.4s;
    margin: 5px;
    font-size: var(--fontsize-sm);
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
}

.btn.w-100 {
    width: 100%;
}

.rounded-btn {
    padding: var(--space-3);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: var(--radius-full);
    margin: var(--space-2);
    cursor: pointer;
}

    .rounded-btn span {
        font-size: var(--fontsize-lg);
    }

.btn-loading::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: var(--radius-full);
    border: 5px solid var(--white);
    border-top-color: var(--blue);
    animation: spin 1s linear infinite;
    margin-left: var(--space-3);
}

#register-form, #login-form {
    border: 1px solid var(--gray-2);
    padding: var(--space-6);
    border-radius: var(--radius-md);
    box-shadow: var(--boxshadow-default);
    min-width: 200px;
    width: 90vw;
    max-width: 500px;
    height: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

    #register-form h2, #login-form h2 {
        margin-bottom: var(--space-3);
        text-align: center;
    }

form .btn {
    margin: 5px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-big {
    width: 31%;
    height: 20vh;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: var(--radius-lg);
    cursor: pointer;
    margin: 0.7rem;
    font-size: var(--fontsize-md);
}

    .btn-big span {
        font-size: var(--fontsize-xl);
        display: inline-block;
        margin-top: 1rem;
    }

    .btn-big:first-child {
        margin-left: 0;
    }

    .btn-big:last-child {
        margin-right: 0;
    }

@media (max-width: 960px) {
    .btn-big {
        width: 100%;
        margin: 0.7rem 0;
    }
}

.btn-primary {
    background: var(--green);
    color: var(--white);
}

    .btn-primary:hover {
        background: var(--green-low);
    }

    .btn-primary:focus, .btn-primary:active {
        outline: 2px solid var(--green-high);
    }

    .btn-primary:disabled {
        background: var(--green-high);
        outline: none !important;
        cursor: not-allowed;
    }

.btn-gray {
    background: var(--gray-high);
    border: 1px solid var(--gray-3);
    color: var(--black);
}

    .btn-gray:hover {
        background: var(--gray-3);
        border: 1px solid var(--gray-2);
    }

    .btn-gray:focus, .btn-gray:active {
        outline: 2px solid var(--gray-2);
    }

    .btn-gray:disabled {
        color: var(--gray);
        outline: none !important;
        border: 1px solid var(--gray-3);
        background: var(--gray-high);
        cursor: not-allowed;
    }

.btn-green {
    background: var(--red);
    color: var(--white);
}

    .btn-green:hover {
        background: var(--red-low);
    }

    .btn-green:focus, .btn-green:active {
        outline: 2px solid var(--red-high-2);
    }

    .btn-green:disabled {
        outline: none !important;
        background: var(--red-high);
        cursor: not-allowed;
    }

.btn-red {
    background: var(--red);
    color: var(--white);
}

    .btn-red:hover {
        background: var(--red-low);
    }

    .btn-red:focus, .btn-red:active {
        outline: 2px solid var(--red-high-2);
    }

    .btn-red:disabled {
        outline: none !important;
        background: var(--red-high);
        cursor: not-allowed;
    }

.btn-yellow {
    background: var(--yellow);
    color: var(--white);
}

    .btn-yellow:hover {
        background: var(--yellow-low);
    }

    .btn-yellow:focus, .btn-yellow:active {
        outline: 2px solid var(--red-high-2);
    }

    .btn-yellow:disabled {
        outline: none !important;
        background: var(--red-high);
        cursor: not-allowed;
    }

.btn-blue {
    background: var(--blue);
    color: var(--white);
}

    .btn-blue:hover {
        background: var(--blue-low);
    }

    .btn-blue:focus, .btn-blue:active {
        outline: 2px solid var(--blue-high-2);
    }

    .btn-blue:disabled {
        outline: none !important;
        background: var(--blue-high);
        cursor: not-allowed;
    }

/* CLASSES MODAIS */

.small-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: fit-content;
    height: fit-content;
    padding: var(--space-4);
    border-radius: var(--radius-md);
    border: 1px solid var(--gray);
    box-shadow: var(--boxshadow-default);
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0;
    display: none;
    transform: translateY(-10vh);
    z-index: 8;
}

.small-modal-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 7;
}

.modal-edit-grid {
    display: flex;
    flex-direction: row-reverse;
}

    .modal-edit-grid .edit-buttons {
        margin-right: var(--space-5);
    }

.modal-body .custom-grid-container {
    max-height: 220px;
}

.inner-modal-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* CLASSES BUSCAS */

.edit-buttons {
    display: flex;
    align-items: center;
}

.edit-buttons.buttons-vertical {
    flex-direction: column;
}

.dynamic-edit-buttons {
    display: none;
}

#filter-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.avatar-p {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-logo-p {
    height: 50px;
    object-fit: contain;
    border-radius: var(--radius-sm);
    background: var(--white);
    padding: var(--space-3);
}

input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    border: 1px solid var(--gray-2);
    padding: var(--space-3);
    border-radius: var(--radius-sm);
    min-width: 190px;
    width: 100%;
    height: 42px;
}

input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

label {
    margin: var(--space-2) 0;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: var(--space-3);
}

    .footer .btn:first-child {
        margin-right: var(--space-3);
    }

.form-group {
    display: flex;
    flex-direction: column;
    margin: var(--space-3) 0;
}

.radio-group {
    margin: var(--space-3) 0;
    display: flex;
    align-items: center;
}

    .radio-group input {
        margin-right: var(--space-3);
    }

.form-horizontal, .form-group-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs-50 .form-group {
    width: 48%;
}

@media (max-width: 680px) {
    .form-horizontal {
        flex-direction: column;
    }

    .form-horizontal .form-group {
        width: 100%;
    }
}

/* FILTERS */
.filter-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .filters .btn {
        margin-top: var(--space-8);
    }

.filter-field {
    display: flex;
    flex-direction: column;
    margin-right: var(--space-5);
}

/* ADMIN e CONFIGURAÇÕES */

.options-ul {
    list-style-type: none;
    margin: var(--space-4) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--gray-3);
    border-bottom: 1px solid var(--gray-3);
}

    .options-ul li {
        padding: var(--space-3) var(--space-5);
        border-radius: var(--radius-md);
        cursor: pointer;
        width: fit-content;
        margin: var(--space-2);
    }

        .options-ul li:hover, .selected {
            background: var(--gray-3);
        }

.blur-image {
    filter: blur(2px);
}

.panel {
    padding: var(--space-3);
    margin: var(--space-3);
    border: 1px solid var(--gray-3);
    border-radius: var(--radius-sm);
}